body{
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}

.body{
    background-image: url("/assests/images/food-background-img.avif");
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    background-color: #faedcd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.navbar__logo{
    width: 50px;
    height: 50px; 
}


.footer{
    padding: 30px;
    background-color: #495057;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

button{
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    background-color: #faedcd;
    cursor: pointer;
}

button:hover{
    background-color: #495057;
    color: white;
}

input{
    padding: 5px;
}



.recipe-list{
    background-color: rgba(73, 80, 87, 0.75);
    padding: 60px;
    color: white;
    display: flex;
    flex-direction: column;

}

.recipe-list__title{
    font-size: 25px;
    font-weight: 600;
}

.recipe-list__ingredients{
    font-size: 20px;
    font-weight: 400;
}

.recipe-list__intructions{
    font-size: 16px;
    font-weight: 400;
}
