body{
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}

.body{
    padding: 60px 0;
    background-image: url("/assests/images/food-background-img.avif");
    height: 85vh;   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    background-color: #faedcd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.navbar__logo{
    width: 50px;
    height: 50px; 
}

.footer{
    padding: 30px;
    background-color: #495057;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    display: flex;
}

button{
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    background-color: #faedcd;
    cursor: pointer;
    border: solid 1px #495057;
    

}

button:hover{
    background-color: #495057;
    color: white;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #495057;
}

/* elements created by the API */

.recipe-list{
    background-color: rgba(73, 80, 87, 0.75);
    padding: 50px 60px 60px 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.recipe-list__title{
    font-size: 25px;
    font-weight: 600;
}

.recipe-list__img{
    padding-bottom: 20px;
}

.recipe-list__ingredients{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    list-style-type: circle;
}
.recipe-list__ingredients::before{
    content: "Ingredients";
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    list-style-type: none;
}
    
.recipe-list__instructions{
    font-size: 20px;
    font-weight: 400;
}

.recipe-list__cautions, .recipe-list__calories, .recipe-list__nutrients, .recipe-list__cuisineType, .recipe-list__mealType {
    font-size: 12px;
    font-weight: 600;
}

.recipe-list__instructions{
    margin-top: 20px;
    width: 150px;
    font-size: 15px;
    padding: 5px;
}
